@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Poppins:wght@600&display=swap');

body
{
font-family: 'Karla', sans-serif;
width: 100%;
}

nav {
    background-color: rgba(20, 19, 19, 0.116); 
    height: 60px;
    padding-top: 0px; 
    border-top: 1px solid rgba(0, 0, 0, 0.100);
    border-bottom: 1px solid rgba(0, 0, 0, 0.100); 
    margin: 0px 0px;
}
p{text-align: left;
    font-size: 2.5em; 
    margin-top: 0px; 
    }
    
.host{
    font-weight: bolder;
    }

.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 150px;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 80px;
}

.col1{
    margin-top: 75px;
    text-align: center;
}

.col2{
    margin-top: 45px;
    text-align: center;
}

.col3{
    text-align: center;
}

.byLine
{font-size: 17px; 
line-height: 30px;
color: #7A7A7A;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    margin-top: 100px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

h5{
    font-size: 15px;
    color: #7A7A7A;
}

button{
    border-bottom-style: solid;
}

.naira 
{text-decoration: double line-through;
font-weight: bold;
}

.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.hostingTables
{font-size: 2em;
text-align: center;
text-decoration: underline 3px;
margin-top: 50px;
margin-bottom: 30px;
text-transform: uppercase;
}


table,
    tr {border: 1px solid rgba(0, 0, 0, 0.164); margin-bottom: 10px;}
    th {text-decoration: underline 2px;}
    td {text-decoration: underline 2px rgb(228, 125, 125);;}


